/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
list, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, list, nav, section {
    display: block;
}
*, *:before, *:after{
    box-sizing: border-box;
}
// *{
//     outline: 1px solid black;
// }
body{
  font-family: PingFang, "San Francisco", sans-serif;
  line-height: 1.5;
  font-size: 24px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.name{
  padding-top: 40px;
}
h1{
  font-size: 80px;
  border-bottom: 2px solid #000;
  line-height: 1.2;
}
img{
  vertical-align: middle;
}
.mb48{
  margin-bottom: 48px;
}
h2{
  font-size: 32px;
  border-bottom: 1px solid #000;
}
.mb16{
  margin-bottom: 16px;
}
span{
  font-size: 24px;
  color: #A00404;
  font-weight: bold;
  margin-left: 16px;
}
.mb24{
  margin-bottom: 24px;
}
.mb64{
  margin-bottom: 64px;
}
.bg{
  background-color: #415165;
}
.skill{
  width: 996px;
  margin: 0 auto;
}
.white{
  color: #fff;
}
.bg h2{
  padding-top: 24px;
  border-bottom: 1px solid #fff;
  text-align: center;
  margin-bottom: 40px;
}
.skill ul{
  border-left: 1px solid #96A9C4;
  width: 225px;
  margin: 0 auto;
}
.skill ul li{
  padding-left: 24px;
}
.pb6{
  padding-bottom: 6px;
}
.pb8{
  padding-bottom: 8px;
}
.pb40{
  padding-bottom: 40px;
}
.work ul{
  margin-left: 24px;
  border-left: 1px solid #96A9C4;
}
.work ul li{
  padding-left: 24px;
}
p{
  font-size: 20px;
}
.pb22{
  padding-bottom: 22px;
}
.pb24{
  padding-bottom: 24px;
}
.px13{
  padding: 13px 0;
  width: 100px;
}
.p14{
  padding: 14px;
}
.work{
  margin-bottom: 80px;
}
.contact h2{
  margin-bottom: 24px;
}
.contact ul{
  text-align: center;
}
.mx12{
  margin: 0 12px;
}
.contact a{
  text-decoration: none;
  color: #fff;
}
.contact a:hover{
  text-decoration: underline;
}