/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
list, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, list, nav, section {
    display: block;
}
*, *:before, *:after{
    box-sizing: border-box;
}
// *{
//     outline: 1px solid black;
// }
body{
  font-family: "SF pro Text","Microsoft JhengHei";
  line-height: 36px;
  font-size: 24px;
  font-weight: 300;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.name{
  font-size: 80px;
    line-height: 95px;
    font-weight: 400;
    border-bottom: 2px solid #000;
    padding-top: 40px;
    padding-bottom: 20px;
}
img{
  vertical-align: middle;
}
.title{
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 16px;
  padding-bottom: 6px;
  border-bottom: 1px solid #000;
}
.enTitle{
  font-weight: semibold;
  margin-left: 16px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
.container-skill{
  width: 996px;
  margin: 0 auto;
}
.bg .title{
  border-bottom: 1px solid #fff;
  padding-top: 24px;
}
.container-skill ul{
  width: 225px;
  margin: 0 auto;
  text-align-last: left;
  border-left: 1px solid #96A9C4;
  padding-left: 23px;
}
p{
  font-size: 20px;
  line-height: 30px;
}
h3{
  font-weight: 500;
}
.imgSpace{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work{
  margin-bottom: 80px;
}
.contact a{
  text-decoration: none;
  color: #fff;
}
.contact a:hover{
  text-decoration: underline;
}
.contact img{
  padding: 0 12px;
}
.mb16{
  margin-bottom: 16px;
}
.mb24{
  margin-bottom: 24px;
}
.mb40{
  margin-bottom: 40px;
}
.mb48{
  margin-bottom: 48px;
}
.mb64{
  margin-bottom: 64px;
}
.pb8{
  padding-bottom: 8px;
}
.pb24{
  padding-bottom: 24px;
}
.pb40{
  padding-bottom: 40px;
}
.bg{
  background-color: #415165;
  text-align: center;
}
.text-color-1{
  color: #A00404;
}
.text-color-2{
  color: #fff;
}